// ABOUT SECTION

.about {
    margin: 1rem;
    margin-top: 0;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 60vh;
    width: auto;
    border-radius: 10px;
    padding: 8rem 0;
    background-size: cover;

    p {
        font-size: 36px;
        width: 50%;
        text-align: center;
        line-height: 1.5;

        .emph {
            padding: 5px 15px;
            border-radius: 50px;
        }
    }

    .signature {
        font-size: 16px;
        color: $dark-grey;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .circle {
            height: 65px;
            width: 65px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
        }

        .picture {
            background-image: url(../media/ceo.png);
            background-size: cover;
        }
    }
}