// COLOR THEMES

#light {
    background-color: $background-light;

    .navbar {
        background-color: $off-white;
        padding: 20px;

        nav a {
            color: $dark;

            &:hover {
                color: $blue-200;
            }
        }

        .icons {
            background-color: $blue-200;

            ion-icon {
                color: $off-white;

                &:hover {
                    color: $blue-100;
                }
            }
        }

        .mode-container {
            background-color: $off-white;

            ion-icon {
                color: $dark;
            }
        }
    }
}