// EMAIL SIGN UP SECTION

section.email {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .grid {
        max-width: 1700px;
        width: 90%;
    }

    form {
        padding: 8rem 1rem;
        background-image: url('../media/bg.gif'); 
        background-size: cover; 
        background-position: center; 
        display: flex;
        justify-content: center;
        border: 2px $blue-200 solid;
        border-radius: 7px;

        .input {
            width: 80%;
            box-sizing: border-box;
            min-height: 70px;
            padding: 0 1rem;
            font-size: 21px;
            border-radius: 6px 0 0 6px;
            background-color: transparent;
        }
        
        .button--submit {
            text-transform: uppercase;
            font-weight: 100;
            outline: none;
            min-height: 70px;
            padding: .5em 1em;
            border-radius: 0 6px 6px 0;
            font-size: 21px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            border: none;
        }
    }
}