// FAQ SECTION

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
        font-size: clamp(2rem, 13vw, 14rem);
        text-align: center;
        width: 100%;
        font-weight: 600;
    }

    .faq-g {
        width: auto;
    }

    .question {
        background-color: $blue-200;
        border: 2px solid $pure-grey;
        border-radius: 10px;
        cursor: pointer;
        padding: 2rem 1rem;
        font-size: 1.2rem;
        text-align: left;
        outline: none;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.4s;
        font-weight: bold;
    }

    .active {
        background-color: $pure-grey;
        border-color: $green;
    }

    .question::after {
        content: "\002B";
        font-size: 2.2rem;
        position: absolute;
        right: 20px;
        transition: 0.2s;
    }

    .question.active::after {
        transform: rotate(45deg);
    }

    .answercont {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
        justify-content: center;
        line-height: 1.5rem;

        p {
            width: 70%;
        }

        .answer {
            padding: 2rem;
            font-size: 1.2rem;
        }
    }
}