// HERO SECTION

.hero {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 24px;
    }

    .hero-grid {
        margin-top: 0;
    }

    .intro {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;
        height: 80vh;

        h1 {
            font-weight: 400;
            font-size: 54px;
            margin: 0;
            line-height: 1.5;
            margin-left: 20px;
            margin-top: 20px;

            .name {
                font-weight: bold;
            }
        }

        p {
            margin-left: 20px;
        }

        .signup-form {
            margin: 0;
            margin-top: 1rem;
            gap: 1rem;
            border-radius: 50px;
            padding: 10px;
            width: 80%;
            margin-left: 20px;

            input {
                padding-left: 1rem;
                border-radius: 50px;
                font-size: 1rem;
                outline: none;
                border: none;
            }

            button {
                padding: 1.5rem 0;
                border: none;
                border-radius: 50px;
                font-size: 20px;
                cursor: pointer;
                transition: all .3s ease;
            }
        }

        img {
            height: 100%;
        }
    }

    .hero-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 80vh;

        .hero-video {
            height: 60%;
            max-height: 1000px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            position: relative;

            video {
                height: 100%;
                width: max-content;
            }
        }

        .video-btn {
            position: absolute;
            border: none;
            padding: 10px;
            border-radius: 50px;
            display: flex;
            justify-content: flex-start;
            width: max-content;
            align-items: center;
            bottom: 10%;
            left: 10%;

            a {
                display: flex;
                align-items: center;
                gap: .5rem;
                text-decoration: none;
                padding-left: .5rem;
                font-size: 20px;
            }

            .icon {
                width: 45px;
                height: 45px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }
        }

        .video-btn:nth-child(2) {
            bottom: 70%;
            left: 70%;
        }

        .hero-stats {
            width: auto;
            height: 40%;
            margin: 0;

            .hero-projects {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: .5rem;
                border-radius: 10px;

                .numbers {
                    font-size: 96px;
                    font-weight: bold;
                }
            }

            .hero-cta {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 10px;
                background-size: cover;
                background-blend-mode: overlay;
                gap: 1rem;

                p {
                    color: $off-white;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 28px;
                    width: 80%;
                    line-height: 1.5;
                }

                button {
                    border: none;
                    padding: 10px;
                    border-radius: 50px;
                    display: flex;
                    justify-content: flex-start;
                    width: max-content;
                    align-items: center;

                    a {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        text-decoration: none;
                        padding-left: .5rem;
                        font-size: 20px;
                    }

                    .icon {
                        width: 45px;
                        height: 45px;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 24px;
                    }
                    
                }
            }
        }
    }
}


@media screen and (max-width: 1100px) {
    .hero {
        height: fit-content;

        .hero-info {
            height: fit-content;
            .hero-video {
                video {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .hero {
        .intro {
            h1 {
                font-size: 45px;
            }
        }
        
        .hero-info .hero-video .video-btn {
            display: none;
        }
    }
}