// PRICES SECTION

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 12rem 0;

  h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .cards {
    max-width: 95%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 320px;

      .card-head {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: $pure-grey;
        padding: 20px 40px 20px 20px;
        border: 3px solid $off-white;
        border-radius: 10px;
        

        .card-icon {
          height: 55px;
          width: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $dark;
          color: $off-white;
          border-radius: 50px;
        }

        .card-title {
          display: flex;
          flex-direction: column;
          gap: 5px;

          h3 {
            font-size: 20px;
            color: $dark;
          }

          p {
            font-size: 13px;
          }
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 20px 50px 20px;
        gap: 10px;
        background-color: $off-white;
        border-radius: 10px;

        .card-tag {
          font-size: 12px;
          padding: 8px 10px;
          background-color: $pure-grey;
          width: fit-content;
          border-radius: 50px;
          color: $blue-100;
          margin-bottom: 10px;
        }

        .card-price {
          color: $blue-100;
          font-weight: bold;
          font-size: 40px;

          .per-month {
            font-size: 24px;
            color: $pure-grey;
            margin-left: 10px;
          }
        }

        p {
          color: $blue-100;
          font-size: 16px;
        }

        button {
          border: 2px $pure-grey solid;
          background-color: $off-white;
          border-radius: 50px;
          padding: 15px;
          font-size: 20px;
          font-weight: normal;
          margin-top: 20px;

          &.this-btn {
            background-color: $green;
            border-color: $green;
          }
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 10px;

          li {
            display: flex;
            gap: .5rem;
            align-items: center;
          }
        }
      }
    }
  }
}