// MY COLOR PALETTE

$blue-a: rgba(168, 178, 255, .5);
$blue-100: #C0C6F5;
$blue-200: #A7B2FF;
$blue-300: #565F9F;
$blue-400: #1B1D2A;
$light: #f0f0f0;
$dark: #050505;
$grey: #D9D9D9;
$grey-a: rgba(217, 217, 217, .5);
$green: #ACEE30;

