
@import 'normalize';
@import 'variables';
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    color: $text-color;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

@import 'layout';
@import 'header';
@import 'hero';
@import 'about';
@import 'prices';