
@import 'normalize';
@import 'variables';
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    color: $text-color;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    // max-width: 1700px;
    align-self: center;
}

section {
    width: 100%;
}

@import 'layout';
@import 'header';
@import 'hero';